<html>
  <head>
    <title>My HTML Page</title>
    <style>
      h1,h2,h3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <h1>This is a static webpage served by Node.js</h1>
    <h2>Created by Zain Shaikh</h2>
    <!-- <img src="nodejs-new-pantone-black.jpg" alt="" class="center" /> -->
    <h3>TE-10</h3>
    <h3>33269</h3>
    <h3>N-10</h3>
  </body>
</html>
